.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 0px;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:focus {
  outline: none;
}
.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 1;
  filter: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-default {
  color: #333;
  background-color: transparent;
  border-color: none; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.open .btn-default.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-default:active, .btn-default.active {
  background-image: none;
}
.open .btn-default.dropdown-toggle {
  background-image: none;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.open .btn-primary.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-primary:active, .btn-primary.active {
  background-image: none;
}
.open .btn-primary.dropdown-toggle {
  background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
  background-color: transparent;
  border-color: transparent;
}

.btn-warning {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.open .btn-warning.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-warning:active, .btn-warning.active {
  background-image: none;
}
.open .btn-warning.dropdown-toggle {
  background-image: none;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
  background-color: transparent;
  border-color: transparent;
}

.btn-danger {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.open .btn-danger.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-danger:active, .btn-danger.active {
  background-image: none;
}
.open .btn-danger.dropdown-toggle {
  background-image: none;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
  background-color: transparent;
  border-color: transparent;
}

.btn-success {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.open .btn-success.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-success:active, .btn-success.active {
  background-image: none;
}
.open .btn-success.dropdown-toggle {
  background-image: none;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
  background-color: transparent;
  border-color: transparent;
}

.btn-info {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.open .btn-info.dropdown-toggle {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}
.btn-info:active, .btn-info.active {
  background-image: none;
}
.open .btn-info.dropdown-toggle {
  background-image: none;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
  background-color: transparent;
  border-color: transparent;
}

.btn-link {
  color: #333;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
}
.btn-link:hover, .btn-link:focus {
  color: #333;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
  color: #333;
  text-decoration: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 17px;
  line-height: 1.33;
  border-radius: 0px;
}

.btn-sm, .btn-group-sm > .btn,
.btn-xs,
.btn-group-xs > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

input.button_mini,
input.button_small,
input.button,
input.button_large,
input.button_mini_disabled,
input.button_small_disabled,
input.button_disabled,
input.button_large_disabled,
input.exclusive_mini,
input.exclusive_small,
input.exclusive,
input.exclusive_large,
input.exclusive_mini_disabled,
input.exclusive_small_disabled,
input.exclusive_disabled,
input.exclusive_large_disabled,
a.button_mini,
a.button_small,
a.button,
a.button_large,
a.exclusive_mini,
a.exclusive_small,
a.exclusive,
a.exclusive_large,
span.button_mini,
span.button_small,
span.button,
span.button_large,
span.exclusive_mini,
span.exclusive_small,
span.exclusive,
span.exclusive_large,
span.exclusive_large_disabled {
  position: relative;
  display: inline-block;
  padding: 5px 7px;
  border: none;
  font-weight: bold;
  color: #333;
  background: transparent;
  cursor: pointer;
  white-space: normal;
  text-align: left;
}

.button.button-small {
  font: bold 13px/17px Arial, Helvetica, sans-serif;
  color: #333;
  background: transparent;
  border: none;
  padding: 0;
  text-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.button.button-small span {
  display: block;
  padding: 0;
  border: none;
}
.button.button-small span i {
  vertical-align: 0px;
  margin-right: 0;
}
.button.button-small span i.right {
  margin-right: 0;
  margin-left: 5px;
}
.button.button-small span:hover {
  background: transparent;
}

.button.button-medium {
  font-size: 17px;
  line-height: 21px;
  color: #333;
  padding: 0;
  font-weight: normal;
  background: transparent;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.button.button-medium span {
  display: block;
  padding: 0;
  border: none;
}
@media (max-width: 480px) {
  .button.button-medium span {
    font-size: 15px;
    padding-right: 0;
    padding-left: 0;
  }
}
.button.button-medium span i.left {
  font-size: 24px;
  vertical-align: -2px;
  margin: -4px 10px 0 0;
  display: inline-block;
}
@media (max-width: 480px) {
  .button.button-medium span i.left {
    margin-right: 5px;
  }
}
.button.button-medium span i.right {
  margin-right: 0;
  margin-left: 9px;
}
@media (max-width: 480px) {
  .button.button-medium span i.right {
    margin-left: 5px;
  }
}
.button.button-medium:hover {
  background: transparent;
}

.button.button-medium.exclusive {
  background-image: none;
}
.button.button-medium.exclusive span {
  border: none;
}
.button.button-medium.exclusive:hover {
  background: transparent;
  border-color: transparent;
}
.button.button-medium.exclusive:hover span {
  border: none;
}

.link-button {
  font-weight: bold;
}
.link-button i {
  margin-right: 5px;
}
.link-button i.large {
  font-size: 26px;
  line-height: 26px;
  vertical-align: -3px;
  color: #333;
}

.btn.button-plus, .btn.button-minus {
  font-size: 14px;
  line-height: 14px;
  color: #333;
  text-shadow: none;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.btn.button-plus span, .btn.button-minus span {
  display: block;
  border: none;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0 0 0;
  background: transparent;
}
.btn.button-plus:hover, .btn.button-minus:hover {
  color: #333;
}
.btn.button-plus:hover span, .btn.button-minus:hover span {
  filter: none;
  background: transparent;
}

.button.exclusive-medium {
  font-size: 17px;
  padding: 0;
  line-height: 21px;
  color: #333;
  font-weight: normal;
  border: none;
  text-shadow: none;
}
.button.exclusive-medium span {
  border: none;
  display: block;
  padding: 9px 10px 11px 10px;
  background: transparent;
}
@media (max-width: 480px) {
  .button.exclusive-medium span {
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
  }
}
.button.exclusive-medium span:hover {
  border-color: transparent;
}
.button.exclusive-medium span:hover span {
  background: transparent;
}

.button.ajax_add_to_cart_button {
  font: 700 17px/21px Arial, Helvetica, sans-serif;
  color: #333;
  text-shadow: none;
  padding: 0;
  border: none;
}
.button.ajax_add_to_cart_button span {
  border: none;
  padding: 10px 14px;
  display: block;
  background: transparent;
}
.button.ajax_add_to_cart_button:hover {
  border-color: transparent;
}
.button.ajax_add_to_cart_button:hover span {
  filter: none;
  background: transparent;
}

.button.lnk_view {
  font: 700 17px/21px Arial, Helvetica, sans-serif;
  color: #333;
  text-shadow: none;
  padding: 0;
  border: none;
}
.button.lnk_view span {
  border: none;
  border-color: #333;
  padding: 10px 14px;
  display: block;
  background: transparent;
}
.button.lnk_view:hover {
  border-color: transparent;
}
.button.lnk_view:hover span {
  filter: none;
  background: transparent;
}
.button.lnk_view i.left {
  padding-right: 8px;
  color: #333;
}